#testing-form {
    color: #183880;
    font-size: 14px;
    width: calc(60vw - 100px);

    @media print {
        width: calc(100vw - 100px);
    }

    .office_use {
        text-align: right;
        padding-bottom: 20px;
        border-bottom: 3px solid #4e4e4e;
    }

    .first_section {
        border-bottom: 3px solid #4e4e4e;

        .heading {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        .customer_detail {
            display: flex;
            justify-content: space-around;

            .address {
                display: flex;
            }
        }

        .barcode {
            svg {
                width: 250px;

                text {
                    display: none;
                }
            }
        }
    }

    .second_section {
        margin-top: 20px;
        border: 3px solid #183880;
        padding: 10px;
        overflow: scroll;

        .barcode {
            svg {
                width: 250px;

                text {
                    display: none;
                }
            }
        }

        .span1 {
            width: 50%;
        }

        .span2 {
            width: 20%;
        }

        .span3,
        .span4,
        .span5 {
            width: 10%;
        }

        .head {
            display: flex;

            span {
                font-weight: 600;
                font-size: 18px;
            }
        }

        .body {
            display: flex;
            align-items: center;

            .span6 {
                svg {
                    height: 70px;

                    text {
                        display: none;
                    }
                }
            }
        }

        .total {
            font-weight: 600;
            font-size: 18px;
            margin-top: 20px;
        }
    }

    .instruction {
        font-size: 10px;
        margin-top: 20px;
        font-weight: 600;
        text-align: center;
        font-size: large;
    }
}

.w-120 {
    width: 120px;
    vertical-align: top;
}

.w-180 {
    width: 180px;
    vertical-align: top;
}

.labTestName {
    width: 360px;
    vertical-align: top;
}

.top {
  .close-icon {
    text-align: right;
    display: inline-block;
    float: right;
  }
}
.print {
  width: fit-content;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 10px;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  #testing-form {
    color: #183880;
    font-size: 14px;
    width: 100%;
    .office_use{
        text-align: center
    }
    .first_section {
      .customer_detail {
        display: inline;
        .address{
            margin-bottom: 20px;
        }
        .account_detail{
            margin-bottom: 20px;
        }
      }
    }
    .barcode{
        overflow: hidden;
        svg{
            width: 200px
        }
    }
  }
}
