

 .searchNav {
  display: flex;
  background-color: white;
  border-radius: 6px;
  width:14%;
  color: #737373;
}

.NoSearchNav{
  display: none;
}

@media  all and (max-width: 960px) {
  
 .searchNav {
  display: none;
    }
}

  .searchmobile {
    display: none;
  }
  .switch-margin{
    margin-top:0px;
    margin-bottom: 0px;
  }

  @media only screen and (max-width: 960px) {
.searchmobile {
    display: flex;
    position: relative;
    border-radius: 10px;
    border-style:solid;
    border-color:#f28531;
    // background-color:#ffc266;
    margin-left: 0;
    margin-bottom: 5px;
    width: 100%;
  }
  .switch-margin{
    margin-top:15px;
    margin-bottom: 15px;
  }
} 

.showDrawer{
  display: flex;
}

.hideDrawer{
  display: none;
}

@media screen and (max-width: 2600px) and (min-width: 600px) {
  .hideDrawer{
    display: flex;
  }
}

.display-usermenu{
  display: flex !important;
}

.hide-usermenu{
  display: none !important;
}

.applinks{
  display: none !important; 
}

@media only screen and (max-width: 700px) {
  .applinks{
    display: flex !important;
  }
}
.landscape{
  padding-bottom:none !important;
}

@media screen and (max-device-width: 767px) and (orientation: landscape) {
  .landscape{
  padding-bottom:4em !important;
  }
} 