.MyAccount-updateField-6 {
    input{
      color: white;
    }
    div{
      color: white;
    }
  }

  .MuiSelect-selectMenu-371{
    white-space:normal !important;
  }
  body .MuiModal-root-17{
    z-index: 1500;
    color:red
  }
  