.block-checkout-button {
	.cart-checkout-button {
		margin-top: 30px !important;
		margin-right: 20px !important;
		width: 50%;
		font-weight: normal;
	}

	.cart-checkout-button {
		padding: 8px 20px 8px 40px;
		float: right; 
		text-align:center;
		text-decoration: none; 
		text-shadow:0px 1px 0px $color-main-accent;
		color: $color-main-accent;
		position: relative; text-shadow:1px 0 0 #000;
		background: $color-main-accent;  
		min-width:181px; 
		width:auto
	}

	.cart-checkout-button ::after,
	.cart-checkout-button ::before{
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -27px;   
		border-top: 27px solid transparent;
		border-bottom: 27px solid transparent;
		border-left: 1em solid;
		right: -1em;
	}
	.cart-checkout-button ::after{   
		z-index: 2;  
		border-left-color: $color-main-accent;   
	}
}

#want-sooner-box{
	padding: 20px;
	.card-header-down{
		padding: 2px;
		font-size: 30px;
		text-transform: uppercase;
		margin-top: 1px !important;
		h1 {
			font-size: 22px;
		}
	}

	.two-options-item-block{
		border: 1px solid $color-second-accent;
		margin-top: 30px !important;
		.total-cost{
		 text-align: center;
		 width:100%;
		 margin:15px 0;
		 font-weight: 600;
		}
		.item-heading{
			text-align: center;
		}

		.option-parent-block:first-child{
			border-right: 1px solid $color-second-accent;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.option-item-card{
			border-radius: 0px !important;
			box-shadow: none !important;
			.summary-others:last-child{
				border-bottom: 0px !important;
			}
		}
	}

	#alternate-sizes, #similar-strains{
		padding: 20px;
		.content-text {
			font-size: 12px;
		}
		.similar-strain-button {
			color: $color-main-accent;
			text-transform: uppercase;
			border: 2px solid $color-main-accent;
			padding: 10px;
			width: 70%;
			text-align: center;
			cursor: pointer;
		}
		.option-item-card {
			font-weight: bold;
			.item-heading {
				padding: 0px;
				.check-item{
					padding: 0px;
				}
				.option-text {
					margin-top: 15px;
					margin-left: 12px;
				}
			}
			.select-option{
				text-align: right;
			}
		}
		.item-name{
			color: $color-main-accent;
			font-size: 12px;
		}
		.summary-others {
			font-size: 10px;
			padding-bottom: 0px;
			border-bottom: 1px solid $color-second-accent;
			color: $color-font;
			margin-top: 10px;
		}
	}

}


.cart-item {
	width: 100%;
	margin-bottom: 30px !important;
	.first-block {
		text-align: center;
		color: $color-white;
		.icon {
			margin-top: 10px;
			height: 20px;
		}
		.code {
			margin-top: 5px;
			font-size: 10px;
		}
		.name {
			margin-top: 5px;
			font-size: 12px;
		}
	}
	.detail {
		border-top: 1px solid #66CCCC;
		border-bottom: 1px solid #66CCCC;
		.heading {
			font-size: 12px;
			color: $color-main-accent;
			text-transform: uppercase;
		}
		.sooner {
			font-size: 12px;
			cursor: pointer;
		}
		.delete-button {
			margin-top: 10px;
			font-size: 12px !important;
			padding: 0px !important;
		}
	}
}




