$color-background: #ffffff;
$color-main-accent: #ff9933;
$color-second-accent: #cccccc;
$color-third-accent: #66cccc;
$color-font: #666666;
$color-white: #fff;

body {
  letter-spacing: 1px;
  word-spacing: 1px;
  margin: 0
}

@media only screen and (max-width: 600px) {
  .small-typovariant {
    font-size: 14px !important;
    font-weight: bolder !important;
  }
  .xsmall-typovariant {
    font-size: 8px !important;
    font-weight: 400 !important;
  }
}

.flex-center {
  display: flex !important;
  justify-content: center !important;
}

.card-header-down {
  margin-top: 50px !important;
  width: 100% !important;
  margin-left: 0px !important;
  border-radius: 0px !important;
}

.card-header-down {
  margin-top: 50px !important;
  width: 100% !important;
  margin-left: 0px !important;
  border-radius: 0px !important;
}

.form-textbox {
  width: 100%;
  height: 30px;

  fieldset {
    border: 1px solid $color-main-accent;
    border-radius: 0px;
  }
}

.form-selectbox {
  width: 100%;
  height: 30px;

  fieldset {
    border: 1px solid $color-main-accent;
    border-radius: 0px;
  }
}

.form-button {
  background-color: #ff9933 !important;
  color: #fff !important;
  border-radius: 0 !important;
  font-size: 20px !important;
  padding: 15px !important;
  margin: 1px 1px 1px 1px !important;
}

.form-button-active {
  background-color: #fff !important;
  color: #ff9933 !important;
  border-radius: 0 !important;
  font-size: 20px !important;
  padding: 15px !important;
  margin: 1px 1px 1px 1px !important;
}

.form-button-small-size {
  min-height: 25px !important;
  padding: 5px !important;
  font-size: 12px !important;
}

.alert-message {
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
  }
}

.error {
  color: red;
  font-size: 13px;
}

@media only screen and (max-width: 600px) {
  .form-button-small-size {
    min-height: 25px !important;
    padding: 5px !important;
    font-size: 12px !important;
    width: 100% !important;
  }
}

.back-button {
  min-height: 20px !important;
  font-size: 17px !important;
  padding: 5px !important;
}

.back-param {
  min-height: 20px !important;
  font-size: 17px !important;
  padding: 5px !important;
  margin-top: 60px !important;
  margin-left: 35px !important;
}

.alert-message {
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
  }
}

.info {
  color: blue;
  font-size: 13px;
}

.widget-svg {
  height: 3.5rem !important;
  width: 3.5rem !important;
  @media all and (max-width: 500px) {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
}
.show-item {
  display: flex !important;
}

.hide-item {
  display: none !important;
}

.my-slider-track {
  background: #f28411;
}
.my-slider {
  background: #f28411;
  border: 1px solid #f28411;
}
