// google fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import "../node_modules/react-input-range/src/scss/index.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

// fonts variable
$Montserrat : 'Montserrat', sans-serif;

@import 'generic';
@import 'myorders';
@import 'myaccount';
@import 'cart';
@import 'myorders';
@import 'store';

//rework myaccount
@import '../components//MyAccount/myaccount.scss';
@import '../components/MyAccount/responsive.scss';
@import '../components/Calculator/responsive.scss';
@import '../components/Calculator/calculator.scss';
@import '../components/Registration/responsive.scss';
@import '../components/Checkout/checkout.scss';
@import '../components//Store/store.scss';
@import '../components/NavBar/responsive.scss';
@import '../components/Store/Yeast/responsive.scss';
@import '.././components/Cart/cart.scss';
@import '../components/Checkout/OrderPlaced/LabTestingForm/labtesting.scss';

body {
	font-family: $Montserrat;
}
