#my-order-details {
	color: $color-font;
	.image{
	width: 200px;
	height: 200px;
    margin-right: 10px;
    text-align: center;
  }
	.main-block{
	position: relative;
    border: 1px solid #CCCCCC;
    margin: 10;
    padding: 20px;
	margin-top: 14px;
	}
	.item-block {
		margin-top: 5px;
	}
	.order-number {
		position: absolute;
    top: -10px;
    left: 40px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
	}
	.block {
		margin-top: 10px;
		margin-bottom: 5px;
	}
	.label {
		color: $color-main-accent;
		font-weight: 600;
	}
	.button-repeat-order{
		font-size: 16px !important;
		border: 1px solid $color-main-accent !important;
		padding: 0px 10px 0px 10px !important;
		margin-right: 10px;
	}

	.button-resend-invoice{
		background: $color-white !important;
		color: $color-main-accent !important;
		border: 1px solid $color-main-accent !important;
		font-size: 16px !important;
		padding: 0px 10px 0px 10px !important;
	}
}
